@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Jakarta Sans", sans-serif;
  }
}

.mobile-drop {
  display: none;
  height: 42%;
  align-items: center;
}

#check {
  display: none;
}

#check:checked ~ .mobile-drop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
