@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Jakarta Sans", sans-serif;
  }
}

.mobile-drop {
  display: none;
}

#check {
  display: none;
}

#check:checked ~ .mobile-drop {
  display: block;
}
